/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset */

header {
  height: 50px;
  background-color: white;
}

section {
  border-top: 1px solid gray;
  background-color: white;
  height: 750px;
  display: flex;
  flex-direction: column;
}

#login_button,
#update_button,
#delete_button,
#add_button,
#save_button {
  display: inline-block;
  height: 40px;
  width: 80px;
  margin: 4px 0 0 5px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.modal_login_cover,
.modal_add_cover,
.modal_update_cover,
.modal_delete_cover,
.modal_save_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_login_cover.show,
.modal_add_cover.show,
.modal_update_cover.show,
.modal_delete_cover.show,
.modal_save_cover.show {
  display: block;
}

.modal_login,
.modal_add,
.modal_update,
.modal_delete,
.modal_save {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 100px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.name {
  font-weight: 700;
  font-size: 17px;
}
.element .name {
  width: 200px;
}

.input_text {
  width: 150px;
}

#key_id {
  width: 100%;
}

#inside_login_btn {
  float: right;
}

.content_line,
.modal_login span,
.optional_menu,
#key_id,
#inside_login_btn {
  display: block;
  margin-top: 10px;
}

#service_name {
  margin-left: 40px;
}

#for_long_month {
  width: 38px;
}

#inside_addcal_btn,
#inside_updatecal_btn,
#inside_add_btn,
#inside_update_btn {
  width: 58px;
  float: right;
  margin-left: 5px;
}

.modal_delete .success {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
#sample_download,
#inside_del_btn,
#inside_save_btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.element {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 3px 10px 3px 10px;
  margin: 5px;
}

#menu_buttons {
  display: none;
}

.success {
  font-size: 10px;
  color: mediumseagreen;
}
